{% load static i18n %}
<div id="royal_preloader"></div>

		<nav id="menu-wrap" class="menu-back cbp-af-header">
			<div class="container">
				<div class="twelve columns" >
					<div class="logo"></div>
					<ul class="slimmenu">
						<li>
							<a href="#home">intro</a>
						</li>
						<li>
							<a href="#about">our restaurant</a>
						</li>
						<li>
							<a href="#work">gallery</a>
						</li>
						<li>
							<a href="#services">the menu</a>
						</li>
						<li>
							<a href="#contact">location and contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>