{% extends "base.html" %}


{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Maki Akçapınar</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}

<div class="section full-height" id="home">
			<div class="home-carousel-wrap">
				<div id="sync1" class="owl-carousel">
					<div class="item background-home-image-1">
						<div class="home-mask"></div>
						<div class="home-text">
							<div class="container fade-elements">
								<div class="twelve columns">
									<h1>Lezzet Şöleni<br>doyumsuz tatlar.</h1>
								</div>
							</div>
						</div>
					</div>
					<div class="item background-home-image-2">
						<div class="home-mask"></div>
						<div class="home-text">
							<div class="container fade-elements">
								<div class="twelve columns">
									<h1>Damak çatlatan<br>ana yemekler.</h1>
								</div>
							</div>
						</div>
					</div>
					<div class="item background-home-image-3">
						<div class="home-mask"></div>
						<div class="home-text">
							<div class="container fade-elements">
								<div class="twelve columns">
									<h1>Şefin menüsüyle<br>gastronomik bir yolculuğa çıkın. </h1>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="sync2" class="owl-carousel fade-elements">
					<div class="item">
					</div>
					<div class="item">
					</div>
					<div class="item">
					</div>
				</div>
			</div>

			<a href="#about" data-gal="m_PageScroll2id" data-ps2id-offset="78"><div class="link-down fade-elements"></div></a>

		</div>
<div class="section back-white" id="about">
			<div class="section padding-top-bottom">
				<div class="container">
					<div class="twelve columns">
						<div class="title-text left">
							<p>our<span>restaurant</span></p>
							<h3>Maki Akçapınar</h3>
						</div>
					</div>
					<div class="six columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">
						<div class="about-wrap">
							<div class="about-icon">
								<img src="{% static 'images/icon1.svg' %}" alt="Some image" />
							</div>
							<h5>Yemek'te Devrim.</h5>
							<p>Lezzet Tutkunları İçin Akçapınarın İncisi, Zirvesindeki Lezzet Durakları Eşsiz Lezzetlerin Adresi Akçapınarda seni bekliyor.</p>
						</div>
					</div>
					<div class="six columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
						<div class="about-wrap">
							<div class="about-icon">
								<img src="{% static 'images/icon2.svg' %}" alt="Some image" />
							</div>
							<h5>Sana Özel.</h5>
							<p>İnce Detaylara Özenle Hazırlanan Servis Hızlı, Güler Yüzlü ve Profesyonel Hizmet Şıklık ve Rahatlıkla Sunulan Servis.</p>
						</div>
					</div>
					<div class="six columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">
						<div class="about-wrap">
							<div class="about-icon">
								<img src="{% static 'images/icon3.svg' %}" alt="Some image" />
							</div>
							<h5>Heryin En Güzeli.</h5>
							<p>Profesyonel Ellerde Şımartıcı Hizmet Kişiye Özel Hizmet Anlayışı Sıcak Karşılama, Üstün Hizmet.</p>
						</div>
					</div>
					<div class="six columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
						<div class="about-wrap">
							<div class="about-icon">
								<img src="{% static 'images/icon4.svg' %}" alt="Some image" />
							</div>
							<h5>İçmek bizle başlar.</h5>
							<p>Renkli Dünyasıyla İçecek Çeşitliliği İçecekte Yaratıcılığın Sınırlarını Zorlayan Lezzetler.</p>
						</div>
					</div>
				</div>
			</div>
	<div class="section padding-top back-dark back-quote overflow-hid" >
				<div class="container">
					<div class="four columns remove-bottom" data-scroll-reveal="enter bottom move 500px over 1s after 0.6s">
						<div class="full-img-qu">
							<img src="{% static 'cheff.jpeg' %}" alt="Some image" />
						</div>
					</div>
					<div class="eight columns">
						<div id="owl-sep-1" class="owl-carousel owl-theme">
							<div class="item">
								<div class="quote">
									<h4>"Restoranın atmosferi, samimi ve sıcak bir ortamda keyifli bir yemek deneyimi yaşamak isteyenleri çeker. Zarif dekorasyonu ve deniz temalı detayları, denizin ferahlığını ve huzurunu hissettirir. İç mekandaki rahat oturma düzeni, konforlu bir ortam sunarak misafirlerin rahatça sohbet etmelerini sağlar."</h4>
								</div>
							</div>
							<div class="item">
								<div class="quote">
									<h4>"Maki Akçapınar'ın menüsü, zengin seçeneklere sahiptir. Denizin taptaze lezzetlerini sunan restoran, her damak zevkine hitap edecek çeşitlilikte balık çeşitleri, deniz ürünleri ve özel tarifler sunar. Şefler, yaratıcı ve lezzetli kombinasyonlarla öne çıkan özel tabaklar hazırlar. Ayrıca, sebzelerle zenginleştirilmiş, sağlıklı ve hafif alternatifler de sunulur.."</h4>
								</div>
							</div>
							<div class="item">
								<div class="quote">
									<h4>"Restoran ayrıca özel etkinlikler ve kutlamalar için mükemmel bir mekan sağlar. Sevdiklerinizle birlikte unutulmaz anılar biriktirebileceğiniz özel etkinlik alanları ve rezervasyon seçenekleri sunar."</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<div class="section padding-top-bottom back-white">
				<div class="container">
					<div class="twelve columns">
						<div class="title-text left">
							<p>we <span>always offer</span></p>
							<h3>Zamanı Durduran bir Mekan .</h3>
						</div>
					</div>
					<div class="four columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">
						<div class="team-wrap fst">
							<h6>Özel bir Menü</h6>
							<p>Balıkseverlerin damağını şenlendirecek özel menümüz, taze deniz mahsullerinin lezzetli kombinasyonlarıyla enfes bir deneyim sunuyor.</p>
							<div class="social-team">
								<ul class="list-social-team">
									<li class="icon-team tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf16d;</a>
									</li>
									<li class="icon-team tipped" data-title="github"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf09b;</a>
									</li>
									<li class="icon-team tipped" data-title="pinterest"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf231;</a>
									</li>
									<li class="icon-team tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf09a;</a>
									</li>
								</ul>
							</div>
							<img src="{% static '001.jpeg' %}" alt="Some image" />
						</div>
					</div>
					<div class="four columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
						<div class="team-wrap snd">
							<h6>Kusursuz Servis ve Hizmet</h6>
							<p>Deneyimli ve güleryüzlü personelimiz, kusursuz servis anlayışıyla sizlere unutulmaz bir deneyim sunmak için her detayı özenle planlıyor.</p>
							<div class="social-team">
								<ul class="list-social-team">
									<li class="icon-team tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf16d;</a>
									</li>
									<li class="icon-team tipped" data-title="github"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf09b;</a>
									</li>
									<li class="icon-team tipped" data-title="pinterest"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf231;</a>
									</li>
									<li class="icon-team tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf09a;</a>
									</li>
								</ul>
							</div>
							<img src="{% static '002.jpeg' %}" alt="Some image" />
						</div>
					</div>
					<div class="four columns"  data-scroll-reveal="enter bottom move 100px over 1s after 0.7s">
						<div class="team-wrap trd">
							<h6>En samimi Ortam</h6>
							<p>Sıcacık atmosferimiz ve samimi misafirperverliğimizle en samimi ortamlarda unutulmaz anılar biriktirmenizi sağlıyoruz..</p>
							<div class="social-team">
								<ul class="list-social-team">
									<li class="icon-team tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf16d;</a>
									</li>
									<li class="icon-team tipped" data-title="github"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf09b;</a>
									</li>
									<li class="icon-team tipped" data-title="pinterest"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf231;</a>
									</li>
									<li class="icon-team tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'>
										<a href="https://www.instagram.com/makiakcapinar/?igshid=MzRlODBiNWFlZA%3D%3D">&#xf09a;</a>
									</li>
								</ul>
							</div>
							<img src="{% static '003.jpeg' %}" alt="Some image" />
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-top-bottom">
				<div class="parallax-1"></div>
				<div class="dark-over-sep"></div>
				<div class="container z-bigger">
					<div class="three columns">
						<div class="counter-wrap freelance-num">
							<p><span class="counter-numb">247</span></p>
							<h6>deneyim</h6>
						</div>
					</div>
					<div class="three columns">
						<div class="counter-wrap freelance-num">
							<p><span class="counter-numb">319</span></p>
							<h6>yemek</h6>
						</div>
					</div>
					<div class="three columns">
						<div class="counter-wrap freelance-num">
							<p><span class="counter-numb">131</span></p>
							<h6>kokteyl</h6>
						</div>
					</div>
					<div class="three columns">
						<div class="counter-wrap freelance-num">
							<p><span class="counter-numb">151</span></p>
							<h6>farklı ana yemek</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="section back-white" id="work">
			<div class="section padding-top-bottom">
				<div class="container">
					<div class="twelve columns">
						<div class="title-text left">
							<p>feel<span>how it is inside</span></p>
							<h3>Bize size daha kolay ifade edicek güzel kesitlerimiz.</h3>
						</div>
					</div>

					<div class="five columns">
						<div class="work-wrap">
							<img src="{% static '004.jpeg' %}" alt="Some image"  data-scroll-reveal="enter bottom move 150px over 1s after 0.1s" />
						</div>
					</div>
					<div class="seven columns" data-scroll-reveal="enter right move 150px over 1s after 1.2s">
						<div class="translate-left">
							<div class="description-title-text left">
								<p>restaurant<span>outside</span></p>
							</div>
							<div class="des-programs-author left">
								<h6>beautiful view</h6>
								<p>taolis: <span>restaurant</span></p>
								<a class="fancybox tipped" href="{% static '004.jpeg' %}" data-title="restaurant outside" data-tipper-options='{"direction":"top","follow":"true"}'><div class="link">discover</div></a>
							</div>
						</div>
					</div>

					<div class="clear"></div>

					<div class="five columns float-right">
						<div class="work-wrap">
							<img src="{% static '005.jpeg' %}" alt="Some image"  data-scroll-reveal="enter bottom move 150px over 1s after 0.1s" />
						</div>
					</div>
					<div class="seven columns float-right" data-scroll-reveal="enter left move 150px over 1s after 1.2s">
						<div class="translate-right">
							<div class="description-title-text right">
								<p>restaurant<span>inside</span></p>
							</div>
							<div class="des-programs-author right">
								<h6>pleasant atmosphere</h6>
								<p>taolis: <span>restaurant</span></p>
								<a class="fancybox tipped" href="{% static '005.jpeg' %}" data-title="restaurant inside" data-tipper-options='{"direction":"top","follow":"true"}'><div class="link">discover</div></a>
							</div>
						</div>
					</div>

					<div class="clear"></div>

					<div class="five columns">
						<div class="work-wrap">
							<img src="{% static '006.jpeg' %}" alt="Some image"  data-scroll-reveal="enter bottom move 150px over 1s after 0.1s" />
						</div>
					</div>
					<div class="seven columns" data-scroll-reveal="enter right move 150px over 1s after 1.2s">
						<div class="translate-left">
							<div class="description-title-text left">
								<p>our<span>kitchen</span></p>
							</div>
							<div class="des-programs-author left">
								<h6>here the magic happens</h6>
								<p>taolis: <span>restaurant</span></p>
								<a class="fancybox tipped" href="{% static '006.jpeg' %}" data-title="our kitchen" data-tipper-options='{"direction":"top","follow":"true"}'><div class="link">discover</div></a>
							</div>
						</div>
					</div>

					<div class="clear"></div>

					<div class="five columns float-right">
						<div class="work-wrap">
							<img src="{% static '007.jpeg' %}" alt="Some image"  data-scroll-reveal="enter bottom move 150px over 1s after 0.1s" />
						</div>
					</div>
					<div class="seven columns float-right" data-scroll-reveal="enter left move 150px over 1s after 1.2s">
						<div class="translate-right">
							<div class="description-title-text right">
								<p>our<span>staff</span></p>
							</div>
							<div class="des-programs-author right">
								<h6>always pleasant and polite</h6>
								<p>taolis: <span>restaurant</span></p>
								<a class="fancybox tipped" href="{% static '007.jpeg' %}" data-title="our staff" data-tipper-options='{"direction":"top","follow":"true"}'><div class="link">discover</div></a>
							</div>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>
			<a href="#contact" data-gal="m_PageScroll2id" data-ps2id-offset="78">
				<div class="section back-dark">
					<div class="portfolio-bottom-link">book a table</div>
				</div>
			</a>
		</div>
<div class="section back-white" id="services">
			<div class="section padding-top-bottom">
				<div class="container">
					<div class="twelve columns">
						<div class="title-text left">
							<p data-scroll-reveal="enter left move 150px over 0.7s after 0.2s">the<span>menu</span></p>
							<h3 data-scroll-reveal="enter left move 150px over 1s after 0.5s">Benzersiz deneyim ve tadın bir arada olduğu menü.(menü güncellenicek)</h3>
						</div>
					</div>
					<div class="six columns">
						<div class="menu-wrap">
							<h4 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Starters</h4>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">english-asparagus<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">asparagus, hens egg, toasted sunflower seeds, spenwood cheese</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">CORNISH-MACKEREL<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">QUAIL<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Smoked quail, crispy egg, spelt, girolles, parsley</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">CURRY-TAMARILLOR<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">CRISPY<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Smoked quail, crispy egg, spelt, girolles, parsley</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">ROASTED STEAK ROULADE<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Mint parsley with apple cider vinegar, salt, sugar & spices</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">SEASONAL SOUP<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Daily preparation</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">CAMPO LINDO CHICKEN<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Fava beans, artchokes, farro & black current gastrique</p>
						</div>
					</div>
					<div class="six columns">
						<div class="menu-wrap">
							<h4 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Mains</h4>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">SEA-TROUT<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Roast Trout, English asparagus, Jersey Royals, watercress</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">FILET DE SAUMON<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Baked salmon fillet, hollandaise sauce, rosemary salt potatoes</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">CONFIT DE CANARD<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Duck confit, white bean & ham cassoulet, wilted spinach</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">POULET CORDON BLEU<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Paupiette of chicken, blue cheese & ham, rosemary salt  and beans</p>
							<h4 class="margin-menu" data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Dessert</h4>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">CREME BRULEE<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Rich vanilla custard with a caramelised sugar crust</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">TARTE TATIN<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">Caramelised apple tart, vanilla ice cream</p>
							<h6 data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">ASSIETTE DE FROMAGES<span class="dots"></span><span>- - -</span></h6>
							<p data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">French cheese selection, chutney and biscuits</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#reser" data-gal="m_PageScroll2id">
				<div class="section back-dark">
					<div class="parallax-3"></div>
					<div class="dark-over-sep"></div>
					<div class="services-bottom-link reser"><span>Make a</span><br>RESERVATION</div>
				</div>
			</a>
		</div>


		<div class="section back-white" id="contact">
			<div class="section">
				<div id="cd-google-map">
					<div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=maki%20ak%C3%A7ap%C4%B1nar%20Ak%C3%A7ap%C4%B1nar,%20SOK%20NO:5/1,%2048640%20Ula/Mu%C4%9Fla+(Maki%20Ak%C3%A7ap%C4%B1nar)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div>
					<div id="cd-zoom-in"></div>
					<div id="cd-zoom-out"></div>
				</div>
			</div>
			<div class="section">
				<div class="container">
					<div class="twelve columns remove-top">
						<div class="contact-det-wrap" data-scroll-reveal="enter bottom move 100px over 1s after 0.3s">
							<div class="contact-det">
								<p>1. <span>drop a line</span></p>
								<h6>info@makiakcapinar.com</h6>
								<h6>info@makiakcapinar.com</h6>
							</div>
							<div class="contact-det">
								<p>2. <span>call us</span></p>
								<h6>+90 538 08 88</h6>
								<h6>+90 538 08 88</h6>
							</div>
							<div class="contact-det">
								<p>3. <span>find us</span></p>
								<h6>Akçapınar, SOK NO:5/1</h6>
								<h6>48640 Ula/Muğla</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section padding-bottom" id="reser" >
				<div class="container">
					<form  id="ajax-form" method="post">
						{% csrf_token %}
						<div class="six columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
							<input name="name"  type="text"   placeholder="İsminiz: *"/>
						</div>
						<div class="six columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">

							<input name="email"  type="text"  placeholder="E-Mail: *"/>
						</div>
						<div class="twelve columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">

							<textarea name="message"  placeholder="İstek ve Arzularınız"></textarea>
						</div>
						<div class="twelve columns" data-scroll-reveal="enter bottom move 100px over 1s after 0.5s">
							<div ><button name="btnSubmit" type="submit" class="send_message button-effect button--moema button--text-thick button--text-upper button--size-s" >Gönder</button></div>
						</div>


					</form>

				</div>
			</div>
		</div>
{% endblock %}




{% block jss %}
{% endblock %}